body {
    padding-bottom: 40px;
}

#mainMenu {
    margin-bottom: 40px;
}

#mainMenu .active .nav-link {
    cursor: default;
}

.pippo {
    color: red;
    font-size: 20px;
}

.box {
    border: 1px solid grey;
    padding: 20px;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orangered;
}